<footer role="contentinfo">
  <p>
    This site was put together for
    <a href="https://11tymeetup.dev/events/ep-15-intelligent-indexing-and-now-pages/">Ep. 15 of THE Eleventy Meetup</a>,
    and is built on the <a href="https://github.com/Mangamaui/eleventy-not-so-minimal-blog-starter">Eleventy Not So Minimal Blog Starter</a>
    template from <a href="https://github.com/Mangamaui">Mangamaui</a>.
  </p>

  <p>
    See the original <a href="https://cloudcannon.com/blog/ssg-history-1-before-jekyll/">SSGs through the ages</a> series on the CloudCannon blog.
  </p>
</footer>